@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
.menu-place-ships{
    width: 100%;
    height: 100%;
    margin: auto;
    position: fixed;
    z-index: 1;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.767); 
}
.menu-place-content{
    width: 45%;
    height: 50%;
    padding: 25px;
    margin: 15% auto;
    background-color: rgb(72, 58, 204);
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.ls-mp{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    column-gap: 2px;
    row-gap: 2px;
    width: 60%;
    height: 100%;
}
.rs-mp{
    width: 40%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10%;
    align-items: center;
}
.rs-mp div.title{
}
.rs-mp div div{
    display: flex;
    flex-direction: row;
    gap: 10%;
    font-size: 20px;
}
.content{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: rgb(36, 36, 36);
    margin: 0;
    padding: 0;
    gap: 5%;
}
.header{
    width: 100%;
    background-color: rgb(224, 224, 224);
    height: 100px;
}
.header h1{
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    color:rgba(2, 0, 0, 0.705);
    margin: 0;
    text-align: center;
}
.main-gameboard{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1%;
}
.gameboards{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    column-gap: 2px;
    row-gap: 2px;
}
.individual-gameboard{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.individual-gameboard h3{
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    font-size: 35px;
    margin-bottom: 25px;
    padding: 0;
}
.info-cells{
    width: 10%;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.info-cells ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
}
.info-cells li{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.info-cells li div{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.cell{
    border: 1px solid white;
}
.cell-computer{
    border: 1px solid white;
    cursor: pointer;
}
.missed-cell{
    background-color: rgb(145, 38, 38);
}
.hit-cell{
    background-color: rgb(168, 168, 168);
}
